.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .team-title {
    color: #2B39BD;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin-top: 20px;
  }
  .top-cards
  {
    width: 100%;
    display: flex;
    gap: 200px;
    margin-bottom: 30px;
    margin-left: 10%;
  }
  .bottom-cards {
    width: 100%;
    display: flex;
    gap: 200px;
    margin-left: 40%;
    margin-bottom: 30px;
  }
  .card {
    background-color: #E1EBE4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    padding-bottom: 110px;
    text-align: center;
    width: calc(15.33% - 20px); 
    height: calc(33.33% - 20px); 
    margin-bottom: 0;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
  }
  .member-name {
    margin: 10px 0;
    color: #333333;
    font-size: 24px;
  }
  .member-role {
    margin: 0;
    color: #666666;
    font-size: 18px;
  }
 
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
      height: calc(50% - 20px); 
      margin-left: 10%;
    }
    .top-cards,
    .bottom-cards {
      flex-direction: column;
      margin-left: auto;
    }
  }