
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  text-align: left;

  

  margin-top: 500px;
}
.body{
  overflow-x: hidden;
  
  
}

.footer h3 {
  margin-top: 0;
}

.footer-logo,
.footer-contact,
.footer-support,
.footer-copyright,
.footer-newsletter {
  flex-basis: calc(20% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer-newsletter {
  margin-right: 60px;
}

.footer-logo h3 {
  font-size: 24px;
}

.footer-contact p,
.footer-support p,
.footer-newsletter p {
  margin: 0;
  
  margin-bottom: 10px;
}

.footer-newsletter input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.footer-newsletter button {
  background-color: #2B39BD;
  color: white;
 border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -610px;
  margin-right: 2000px;
}

.linkedin-icon-text,
.facebook-icon-text {
  font-size: 24px;
  color: #007bff;
  margin-right: 10px;
}

.footer-logo img {
  height: 24px;
}

.footer-copyright p {
  font-size: 14px;
  margin-top: 120px;

 margin-left: -5px;

}

/* Media Query for Small Screens (e.g., max-width: 768px) */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .footer-logo,
  .footer-contact,
  .footer-support,
  .footer-copyright,
  .footer-newsletter {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-newsletter {
    margin-right: 0;
  }
  
  .social-icons {
    margin-top: 0;
    margin-right: 0;
  }

  .footer-newsletter input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
}
@media (width: 375px) and (height: 667px) {
  .social-icons{
    /* margin-top: -400px; */
  }
}
@media (width: 912px) and (height: 1368px) {
  .footer{
    margin-top: 900px;
  }
}



