

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  

}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-left: 4%;
  margin-right: 8.3%;
  margin-top: 1%;
}
.logo-img  {
  width:100px;
  margin-top: 10%;
  margin-left: 72%;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}
.hamburger-menu.open .bar {
  background-color: white;
}
.hamburger-menu.open .close-icon {
  display: block;
}
.bar {
  width: 30px;
  height: 4px;
  background-color: #031707;
  margin: 6px 0;
  transition: 0.4s;
}
.close-icon {
  display: none;
  position: relative;
  width: 30px;
  height: 4px;
  margin: 6px 0;
  transition: 0.4s;
  font-weight: bolder;
  cursor: pointer;
}
.close-icon span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #031707;
  transition: transform 0.2s ease;
}
.close-icon span:first-child {
  top: 0;
  transform: rotate(45deg);
}
.close-icon span:last-child {
  top: 0;
  transform: rotate(-45deg);
}
.centered-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  margin-right: -28%;
  text-decoration: none;
  margin-right: -10px;
}
.centered-links a {
  color: black;
  padding: 30px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 30%;
}
.centered-links a:hover {
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 20px;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
.nav-list.open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav-list li {
  margin-bottom: 10px;
}
.nav-list a {
  color: black;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.nav-list a:hover {
  color: blue;
  border-radius: 5px;
  padding: 10px 20px;
}

@media (max-width: 760px) {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
  }
  .navbar-wrapper {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .brand-container {
    margin: 10px 0;
   
  }
  .nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 120%;
    position: absolute;
    top: 100%;
    margin-left: -20px;
    left: 0;
    background-color: #fff;
    transition: 0.4s;
    z-index: 1;
  }
  .nav-list.open {
    display: flex;
    text-align: left;
  }
  .centered-links {
    display:block;
    justify-content: center;
    gap: 200px;
    width: 1000px;
    height: 1000px;
  }
  .nav-list li {
    margin-bottom: 15px;
  }
  .nav-list a {
    margin: 0;
    padding: 10px;
   
  }
  .nav-list a:hover {
    padding: 10px;
  }
  .brand-container {
    font-size: 24px;
  }
  .logo-img {
    width: 80px;
 
    margin-left: -10%;
  }
  .bar {
    width: 20px;
    height: 3px;
    margin: 4px 0;
  }
  .close-icon {
    width: 20px;
    height: 3px;
    margin: 4px 0;
  }
  .close-icon span {
    height: 2px;
  }
}
.body{
    overflow-x: h;
}
@media (max-width: 834px) {
 
  .logo-img {
    width: 80px;
  
    margin-left: -10%;
  }
}
@media (max-width: 768px) {

  .logo-img {
    width: 80px;
    
 }
}
@media (max-width: 1280px) {

  .logo-img {
    width: 80px;

    margin-left: 1%;
  }
  @media (width: 820px) and (height: 1180px) {
    .nav-list{
      margin-right: 60px;
    
      
    
   
    }

  }
}
@media (width: 1280px) and (height: 800px) {
  .nav-list{
    margin-right: 60px;
  }
  .footer{
    
    margin-bottom: 0;
 
  }
  @media (width: 1024px) and (height: 600px) {
    .nav-list{
      margin-right: 90px;
    }
   
      
     
   
    }

  }
  @media (width: 912px) and (height: 1168px) {
    

  }
  @media (width: 768px) and (height: 1024px) {
    .centered-links{
      margin-right: -50px;
     
    
   

    }
  }
  @media (width: 912px) and (height: 1368px) {
   .centered-links{
    margin-right: -40px;
    

   }
   .footer{
    margin-top: -400px;
   }
   
  }
  @media (width: 1024px) and (height: 600px) {
    .centered-links{
     margin-right: -10px;
    }
    .footer{
      font-size: 15px;
    }
    

   }
   
   @media (width: 414px) and (height: 896px) {
   
    
   }
   @media (width: 768px) and (height: 1024px) {
    .centered-links{
      margin-right: -20px;
    }
    
   }
   @media (width: 912px) and (height: 1368px) {
    .centered-links{
      margin-right: -20px;
    }
    
   }
   @media (width: 375px) and (height: 667px) {
    .centered-links{
    
      margin-top: 10px;
      margin-left: 9px;
    }
    
   }
   


